.constructor__total {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    gap: 40px;
}

.constructor__total span {
    display: flex;
    gap: 8px;
}

.constructor__total svg {
    width: 36px;
    height: 36px;
    padding-top: 1px;
}