.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.forgot-password-form h1 {
    text-align: center;
    margin-bottom: 24px;
}

.forgot-password-form__input {
    margin-bottom: 24px;
    min-height: 24px;
}

.forgot-password-form span a {
    text-decoration: none;
    color: #4C4CFF;
}

.forgot-password-form span {
    text-align: center;
}

.forgot-password-form__button {
    margin: 0 auto 80px auto;
}