.container {
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
}
.body {
  background-color: #1c1c21;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}
