.constructor__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-height: 46vh;
    min-height: 90px;
    overflow-y: scroll;
}


.dragging {
    box-shadow: 0 0 50px aqua inset;
}