.header {
    background: #1c1c21;
    max-width: 1920px;
    height: 88px;
    padding-top: 19px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 0 auto 0 133px;
}

.nav__list {
    display: flex;
    gap: 48px;
}

.nav__list-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.active {
    color: #f2f2f3 !important;
}

.nav__list-item {
    box-sizing: border-box;
    background: #1c1c21;
    display: flex;
    align-items: center;
}


.nav a {
    text-decoration: none;
}

.nav__list-span {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585ad;
}

.nav__list-span svg {
    width: 24px;
    height: 24px;
    transform: translateY(-2px);
}
